# OS
*~
._*
*.lock
*.DS_Store
*.DS_Store?
*.swp
*.out
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python
*.pid
*.py[cod]
__pycache__/

# Other project files
output/
