[submodule "themes/pure-single"]
	path = themes/pure-single
	url = https://github.com/PurePelicanTheme/pure-single.git
[submodule "themes/nest"]
	path = themes/nest
	url = https://github.com/molivier/nest.git
[submodule "themes/pelican-bootstrap3"]
	path = themes/pelican-bootstrap3
	url = https://github.com/DandyDev/pelican-bootstrap3.git
[submodule "themes/pelican-octopress-theme"]
	path = themes/pelican-octopress-theme
	url = https://github.com/duilio/pelican-octopress-theme.git
[submodule "themes/pelican-hyde"]
	path = themes/pelican-hyde
	url = https://github.com/jvanz/pelican-hyde.git
[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy.git
