[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "~=4.0"
markdown = "~=3.1"
requests = "~=2.22"
feedparser = "~=6.0"
html2text = "~=2020.1"
scrapy = "~=2.6"

[dev-packages]

[requires]
python_version = "3.8"
