[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Pelin and pelican optional plugins
pelican = "~=4.0"
markdown = "~=3.1"
# These four are only for the medium parser plugin which currently not used
requests = "~=2.22"
feedparser = "~=6.0"
html2text = "~=2020.1"
scrapy = "~=2.11"
webpreview = "~=1.7"

[dev-packages]

[requires]
python_version = "3.8"
