[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Pelin and pelican optional plugins
pelican = "~=4.0"
markdown = "~=3.1"
webpreview = "~=1.7"

[dev-packages]

[requires]
python_version = "3.8"
