<div class="post-info">
    <span class="label label-default">Created&nbsp;&nbsp;<i class="fa fa-calendar"></i></span>
    <span class="published post-info-data">
        <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
    </span>
    {% if SHOW_DATE_MODIFIED and article.modified%}
        <span class="label label-default">Updated&nbsp;&nbsp;<i class="fa fa-calendar"></i></span>
        <span class="modified post-info-data">
            <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
        </span>
    {% endif %}
    <span class="label label-default"><i class="fa fa-clock"></i></span>
    <span class="published post-info-data">3 min</span>

    {% if SHOW_SERIES %}
        {% if article.series %}
            <span class="label label-default">Series</span>
            <span class="post-info-data">Part {{ article.series.index}} of {{ article.series.name }}</span>
        {% endif %}
    {% endif %}

    {% if SHOW_ARTICLE_AUTHOR %}
        {% if article.author %}
            <span class="label label-default">By&nbsp;&nbsp;<i class="fa fa-user"></i> </span>
            <span class="post-info-data"><a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></span>
        {% endif %}
    {% endif %}

    {% if SHOW_ARTICLE_CATEGORY %}
        <span class="label label-default">Category</span>
        <span class="post-info-data"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
    {% endif %}

    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</div><!-- /.post-info -->
