<style>
    #banner{
        background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
        ),
        url("{{ SITEURL}}/{{ BANNER }}");
    }
    .carousel-one{
        background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
        ),
        url("{{ SITEURL}}/images/banners/ardublockly_banner.png");
    }
    .carousel-two{
        background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
        ),
        url("{{ SITEURL}}/images/banners/default_banner.jpg");
    }
    .carousel-three{
        background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
        ),
        url("{{ SITEURL}}/images/banners/quickhue_banner.png");
    }
</style>

<div id="banner">
    <div id="carousel-projects" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators" id="carousel-indicators">
            <li data-target="#carousel-projects" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-projects" data-slide-to="1"></li>
            <li data-target="#carousel-projects" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active carousel-base carousel-one">
                <div class="carousel-content">
                    <div class="table_div">
                        <div class="table_row_text">
                            <a href="{{ SITEURL}}/ardublockly/index.html"><h2>Ardublockly</h2>
                            Visual Programming for Arduino</a>
                        </div>
                        <div class="table_row_buttons">
                            <a class="btn btn-primary" href="https://github.com/carlosperate/ardublockly/releases" target="_blank"><span class="fa fa-windows"></span>Download for Windows</a>
                            <a class="btn btn-primary" href="https://github.com/carlosperate/ardublockly" target="_blank"><span class="fa fa-github"></span>View on GitHub</a>
                            <a class="btn btn-primary" href="https://github.com/carlosperate/ardublockly/archive/master.zip"><span class="fa fa-file-zip-o"></span>Download Source code</a>
                        </div>
                        <div class="table_row_text carousel-indicators-placeholder">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="item carousel-base carousel-two">
                <div class="carousel-content">
                    <div class="table_div">
                        <div class="table_row_text">
                            <a href="{{ SITEURL}}/LightUpPi-Alarm/index.html"><h2>LightUp Alarm</h2>
                            Raspberry Pi Alarm Clock with sunrise light, coffee machine control, physical snooze button, and Android companion app</a>
                        </div>
                        <div class="table_row_buttons">
                            <a class="btn btn-primary" href="https://github.com/carlosperate/LightUpPi-Alarm/archive/master.zip"><span class="fa fa-linux"></span>Raspberry Pi Software</a>
                            <a class="btn btn-primary" href="https://github.com/carlosperate/LightUpDroid-Alarm/releases" target="_blank"><span class="fa fa-android"></span>Android App</a>
                            <a class="btn btn-primary" href="https://github.com/carlosperate/LightUpPi-Alarm" target="_blank"><span class="fa fa-github"></span>View on GitHub</a>
                        </div>
                        <div class="table_row_text carousel-indicators-placeholder">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="item carousel-base carousel-three">
                <div class="carousel-content">
                    <div class="table_div">
                        <div class="table_row_text">
                            <a href="{{ SITEURL}}/PebbleQuickHue/index.html"><h2>QuickHue for Pebble</h2>
                            Hue Lights control from a Pebble smarthphone</a>
                        </div>
                        <div class="table_row_buttons">
                            <a class="btn btn-primary" href="https://github.com/carlosperate/PebbleQuickHue/raw/master/bin/QuickHue.pbw"><span class="fa fa-clock-o"></span>Download for Pebble</a>
                            <a class="btn btn-primary" href="https://github.com/carlosperate/PebbleQuickHue" target="_blank"><span class="fa fa-github"></span>View on GitHub</a>
                            <a  class="btn btn-primary" href="https://github.com/carlosperate/PebbleQuickHue/archive/master.zip"><span class="fa fa-file-zip-o"></span>Download Source code</a>
                        </div>
                        <div class="table_row_text carousel-indicators-placeholder">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-projects" role="button" data-slide="prev" id="carousel-control-prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-projects" role="button" data-slide="next" id="carousel-control-next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
