<footer>
   <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
      <hr>
      <div class="row container_footer">
         {% if articles %}
            {% set copy_date = articles[0].date.strftime('%Y') %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
         <div class="col-xs-9">
            <p>
               &copy; {{ copy_date }} - {{ BUILD_YEAR }} <a href="https://github.com/carlosperate" target="_blank">{{ AUTHOR }}</a>
               &middot; Powered by 
               <a href="https://docs.getpelican.com/" target="_blank">Pelican</a> and 
               <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>
            </p>
            <p><small>
               {%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
                 {% from 'includes/cc-license.html' import cc_license_mark %}
                 {{ cc_license_mark(cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL}) }}
               {% endif %}
               Attribution for all other resources used can be found <a href="{{ SITEURL}}/credits/index.html">here.</a>
            </small></p>
         </div>
         <div class="col-xs-3"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>