<footer>
   <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
      <hr>
      <div class="row container_footer">
         {% if articles %}
            {% set copy_start_date = namespace(lowest_date=articles[0].date) %}
            {% for _article in articles %}
               {% if _article.date < copy_start_date.lowest_date %}
                  {% set copy_start_date.lowest_date = _article.date %}
               {% endif %}
            {% endfor %}
            {% set copy_start_date = copy_start_date.lowest_date.strftime('%Y') + ' -' %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
         <div class="col-xs-9">
            <p>
               &copy; {{ copy_start_date }} {{ BUILD_YEAR }} <a href="https://twitter.com/carlosperate" target="_blank">{{ AUTHOR }}</a>
               &middot; Powered by <a href="https://getpelican.com" target="_blank">Pelican</a>
            </p>
         </div>
         <div class="col-xs-3"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
         <div class="col-xs-12">
            <p><small>
               {%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
                 {% from 'includes/cc-license.html' import cc_license_mark %}
                 {{ cc_license_mark(cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL}) }}
               {% endif %}<br>
               Attribution for all other resources used can be found <a href="{{ SITEURL}}/credits/index.html">here.</a>
            </small></p>
         </div>
      </div>
   </div>
</footer>