
{% if MEDIUM_PREVIEW_DATA %}
    {% for post in MEDIUM_PREVIEW_DATA %}
        <article>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {% if post.thumbnailUrl %}
                <div class="well well-sm">
                    <img src="{{ post.thumbnailUrl }}" alt="post thumbnail" width="100%">
                </div>
            {% endif %}
            <div class="summary">{{ post.summary }}
                <a class="btn btn-default btn-xs" href="{{ post.url }}" target="_blank">more ...</a>
            </div>
        </article>
        <hr/>
    {% endfor %}
{% endif %}
