html,
body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px !important;
    line-height: 1.8 !important;
}

body {
    background-image: url("/images/theme/background_tile.png");
}

/* Reduce font size on lower resolutions */
@media (max-width: 750px) {
    html, body {
        font-size: 16px !important;
        line-height: 1.6 !important;
    }
}

.page-header {
    margin-top: 32px;
    padding-bottom: 0px;
    margin-bottom: 16px;
    border-bottom: none;
}
/* Anchor links need to account for nav bar padding (pad 64px, marg -64px) */
h1 {
    padding-top: 64px;
    margin-top: -48px;  /* 16px original -64px anchor */
    margin-bottom: 16px;
}
h2 {
    padding-top: 64px;
    margin-top: -16px;  /* 48px original -64px anchor */
}
h3 {
    padding-top: 64px;
    margin-top: -32px; /* 32px original -64px anchor */
}
h4, h5 {
    padding-top: 64px;
    margin-top: -40px; /* 24px original -64px anchor */
    font-weight: bold;
}

hr {
    padding-top: 64px;
    margin-top: -48px; /* 16px original -64px anchor */
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid #ECF0F1;
    border-bottom: 2px solid #FFFFFF;
}

/* Modifying the article info */
.post-info > .label {
  margin-right: 8px;
}
.published {
  margin-right: 24px;
}

.tag-0 {
    font-size: 16pt;
}

.tag-1 {
    font-size: 13pt;
}

.tag-2 {
    font-size: 10pt;
}

.tag-3 {
    font-size: 8pt;
}

.tag-4 {
    font-size: 6pt;
}

a, a:hover {
    color: inherit;
}

.entry-content a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.entry-content a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

.entry-content figcaption, .caption {
    font-size: small;
    margin-bottom: 2px;
}

.summary img {
    max-width: 100%;
    height: auto;
}


.floatright, .align-right {
    float: right;
}

.floatleft, .align-left {
    float: left;
}

.floatcenter, .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.floatright, .align-right {
    margin-left: 4px;
}

figure.floatleft, .align-left {
    margin-right: 4px;
}

figure.floatcenter, .align-center {
    margin-bottom: 11px;
}

.highlighttable pre {
    /* Removes bootstrap default margin-bottom */
    margin-bottom: 0px;
}

.highlighttable {
    /* Adds them margin-bottom to highlightable instead of <pre> */
    margin-bottom: 11px;
}

.highlighttable {
    width: 100%;
}

#categories ul, #tags ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.docutils.footnote td.label {
    display: table-cell;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    border-radius: inherit;
}

.categories-timestamp {
    color: #AAAAAA;
    font-size: 0.9em;
    margin-right: 10px;
}

.tagcloud li {
    padding: 0px;
}

/****************************/
/* Bootstrap navbar updates */
/****************************/
/* Add shadow */
.navbar {
    -webkit-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
}

/* Navigation bar drop down */
ul.nav .dropdown-menu {
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 6px 6px;
}
ul.nav .dropdown-menu li {
}
ul.nav .dropdown-menu li a {
    padding: 16px;
    color: #2c3e50;
}

/* Navigation bar drop down on mouse over */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
ul.nav .dropdown-menu li:hover {
    background-color: #2c3e50 !important;
}
ul.nav .dropdown-menu li a:hover {
    color: #FFFFFF;
}

/* Active list drop down menu */
ul.nav .dropdown-menu li.active a {
    color: #FFFFFF;
}


/****************/
/* Banner Style */
/****************/
#banner {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover; 
    background-color: #C4C4C4;
    margin: 0;
    padding: 0 0;
    position: relative;
    box-shadow: 0px -15px 10px -10px rgba(0, 0, 0, 0.4) inset;
}

#banner .copy {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    display: inline;
    float: left;
    max-width: 600px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

#banner h1 {
    color: #fff;
    font-family: "HelveticaNeue-CondensedBold","Helvetica Neue CE 600 Condensed","Helvetica Neue LT Condensed","Helvetica Neue 600 Condensed","HelveticaNeue-BoldCondensed","Helvetica Neue BoldCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3.2rem;
    font-stretch: condensed;
    font-weight: 700;
    line-height: 0.9;
    margin: 0;
}
#banner .intro {
    color: #fff;
    font-size: 21px;
    line-height: 1.33;
    opacity: 0.75;
}
#banner .btn, #banner .intro {
    margin-left: 4px;
}

/* Solutions for mobile and small screens  */
@media (max-width: 750px) {
    #banner {
        margin: 0;
    }
    #banner h1{
       font-size: 30px;  /* !important;*/
    }
    #banner .intro{
        font-size: 16px;
    }
}


/*************************************/
/* Carousel within banner formatting */
/*************************************/
.carousel-base {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover; 
    background-color: #C4C4C4;
    margin: 0;
    position: relative;
    box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.4) inset;
    text-align: center;
    height: 360px;
}
@media (max-width: 1200px) {
    .carousel-base {
        height: 360px;
    }
}
@media (max-width: 992px) {
    .carousel-base {
        height: 320px;
    }
}
@media (max-width: 750px) {
    .carousel-base {
        height: 240px;
    }
}

.carousel-indicators {
    bottom: 50px;
}
@media (max-width: 767px) {
    .carousel-indicators {
        bottom: 24px;
    }
}

.carousel-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0px 0px;
    position: relative;
    height: calc(100% - 48px);
    z-index: 1;
    color: #fff;
    text-shadow: 0 0 1px #000000, 0 0 2px #000000;
    /* The following change with resolution */
    margin: 0px 20%;
    line-height: 1.6;
    font-size: 1.4rem;
}
.carousel-content h2 {
    font-stretch: condensed;
    font-weight: 700;
    text-shadow: #000000 0px 0px 24px;
    margin: 0;
    /* The following change with resolution */
    font-size: 3.2rem;
    line-height: 1.6;
    padding-top: 36px;
    padding-bottom: 12px;
}
.carousel-content .btn {
    font-size: 1.0rem;
    line-height: 1.4;
}
.carousel-content .fa,
.carousel-content .fab {
    padding-right:12px;
    font-size: 1.4rem;
}
@media (max-width: 1200px) {
    .carousel-content {
    }
    .carousel-content h2 {
    }
}
@media (max-width: 992px) {
    .carousel-content {
        margin: 0px 15%;
        line-height: 1.5;
        font-size: 1.2rem;
    }
    .carousel-content h2 {
        font-size: 2.8rem;
        line-height: 1.5;
        padding-top: 36px;
        padding-bottom: 12px;
    }
}
@media (max-width: 750px) {
    .carousel-content {
        margin: 0px 10%;
        line-height: 1.2;
        font-size: 1.0rem;
    }
    .carousel-content h2 {
        font-size: 2.0rem;
        line-height: 1;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .carousel-content .btn {
        padding: 6px;
        font-size: 0.9rem;
        line-height: 1.2;
    }
    .carousel-content .fa,
    .carousel-content .fab {
        padding-right: 6px;
        font-size: 1.2rem;
    }
}

/* Table used inside relative carousel-content for vertical alignment */
.table_div {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;

}
.table_row_text {
    display: table-row;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
.table_row_buttons {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 24px;
}

/* Format the links in the carousel */
.table_row_text a:hover {
    text-decoration: none;
}
.table_row_buttons a {
    padding: 8px 16px;
    margin-top: 6px;
}


/*******************/
/* Sidebar styling */
/*******************/
#sidebar {
    padding-top: 0px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 1rem;
    line-height: 1.7;
}

#sidebar a {
    color: inherit;
}

#sidebar .list-group, #sidebar .list-group-item {
    background-color: transparent;
}

.icon-label {
    margin-left: 10px;
}

/* Example for how to control spacing between icon and label in specific
   lists in the sidebar. To change, override in your CUSTOM_CSS */
#sidebar #social i {
    margin-right: 3px;
}

/* Profile picture style next to  the Social section in the sidebar */
.profile_pic {
    background-size: 32px 32px;
    border-radius: 50%;
    display: block;
    margin: 15px 0px 0px -2px;
    height: 32px;
    width: 32px;
    float: left;
}

/* for list-groups nested within a list-group-item, add some extra
   padding to separate sections*/
.list-group-item > .list-group {
    margin-bottom: 16px;
}

/* for list-group-items nested within a list-group-item, reset the bottom
   padding of the last item, b/c the containing item has paddimg already */
.list-group-item .list-group-item:last-child {
    padding-bottom: 0px;
}

.list-group-item .list-group-item {
    font-size: 0.95rem;
    line-height: 1.2;
    padding-left: 8px;
}

.list-group-item {
    border: none;
    padding: 6px 12px;
}

/***************/
/* About Me box*/
/***************/
#aboutme {
    padding-top: 0px;
    padding-bottom: 5px;
    -ms-word-break: normal;
    word-break: normal;
}

#aboutme-container {
    border: 2px #fff solid;
    border-radius: 12px;
    margin: -90px 20px 0px 20px;
    padding: 0;
    overflow: auto;
    margin-bottom: 36px;
}
@media (max-width: 767px) {
    #aboutme-container {
        margin: -60px 0px 0px 0px;
        margin-bottom: 12px;
    }
}

#aboutme #avatar {
    width: 114px;
    height: 114px;
    margin: 0px 16px 0px 0px;
    border-radius: 12px 0px 0px 12px;
    float: left;
}
@media (max-width: 767px) {
    #aboutme #avatar {
        width: 96px;
        height: 96px;
    }
}

#aboutme-main-box {
    margin-left: 0px;
    padding-left: 0px;
}

#aboutme-social-box {
    margin-left: 0px;
    padding-left: 0px;
    display: block;
}
@media (max-width: 767px) {
    #aboutme-social-box {
        display: none;
    }
}

#aboutme-social-box-alt {
    margin: 0px;
    display: none;
    margin-bottom: 24px;
}
@media (max-width: 767px) {
    #aboutme-social-box-alt {
        display: block;
    }
}

#aboutme .list-group, #aboutme .list-group-item {
    background-color: transparent;
}
@media (max-width: 767px) {
    #aboutme .list-group, #aboutme .list-group-item {
        padding: 6px 2px;
    }
}

#aboutme-small-disapear {
    display: inline;
}
#aboutme-small-capitalise {
    text-transform: lowercase;
}
@media (max-width: 767px) {
    #aboutme-small-disapear {
        display: none;
    }
    #aboutme-small-capitalise {
        text-transform: capitalize;
    }
}

.aboutme-arrow {
    margin-left: 5px;
    float: left;
}


/*******************************************************/
/* Additions to containers due to new background image */
/*******************************************************/
.container_body {
    border-radius: 0px 0px 3px 3px;
    background: #FFFFFF !important;
    padding: 32px 32px;
    /*box-shadow: 0px 0px 24px 1px rgba(130,130,130,0.72);*/
}

.container_footer {
    border-radius: 3px 3px 0px 0px;
    background: #FFFFFF !important;
    padding: 16px 32px 0px 32px;
    line-height: 1 !important;
}

@media (max-width: 768px) {
    .container_body,
    .container_footer {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}
