html,
body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px !important;
    line-height: 1.8 !important;
}

body {
    background-image: url("/images/background_tile.png");
}

/* Reduce font size on lower resolutions */
@media (max-width: 768px) {
    html, body {
        font-size: 16px !important;
        line-height: 1.6 !important;
    }
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid #ECF0F1;
    border-bottom: 2px solid #FFFFFF;
}


#sidebar {
    font-size: 1rem;
    line-height: 1.7;
}

#sidebar .list-group, #sidebar .list-group-item {
    background-color: transparent;
}

/* for list-groups nested within a list-group-item, add some extra
   padding to separate sections*/
.list-group-item > .list-group {
    margin-bottom: 16px;
}

/* for list-group-items nested within a list-group-item, reset the bottom
   padding of the last item, b/c the containing item has paddimg already 
 */
.list-group-item .list-group-item:last-child {
    padding-bottom: 0px;
}

.list-group-item .list-group-item {
    font-size: 1rem;
    line-height: 1.2;
    padding-left: 8px;
}

.list-group-item {
    border: none;
    padding: 6px 12px;
}

.tag-0 {
    font-size: 16pt;
}

.tag-1 {
    font-size: 13pt;
}

.tag-2 {
    font-size: 10pt;
}

.tag-3 {
    font-size: 8pt;
}

.tag-4 {
    font-size: 6pt;
}

#aboutme {
    padding-top: 0px;
    padding-bottom: 5px;
    -ms-word-break: normal;
    word-break: normal;
}

#sidebar {
    padding-top: 0px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#sidebar a {
    color: inherit;
}

.icon-label {
    margin-left: 10px;
}

/* Example for how to control spacing between icon and label in specific
   lists in the sidebar. To change, override in your CUSTOM_CSS           */
#sidebar #social i {
    margin-right: 3px;
}

a, a:hover {
    color: inherit;
}

.entry-content a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.entry-content a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

.entry-content figcaption, .caption {
    font-size: small;
    margin-bottom: 2px;
}

.summary img {
    max-width: 100%;
    height: auto;
}


.floatright, .align-right {
    float: right;
}

.floatleft, .align-left {
    float: left;
}

.floatcenter, .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.floatright, .align-right {
    margin-left: 4px;
}

figure.floatleft, .align-left {
    margin-right: 4px;
}

figure.floatcenter, .align-center {
    margin-bottom: 11px;
}

.highlighttable pre {
    /* Removes bootstrap default margin-bottom */
    margin-bottom: 0px;
}

.highlighttable {
    /* Adds them margin-bottom to highlightable instead of <pre> */
    margin-bottom: 11px;
}

.highlighttable {
    width: 100%;
}

#categories ul, #tags ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.docutils.footnote td.label {
    display: table-cell;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    border-radius: inherit;
}

.categories-timestamp {
    color: #AAAAAA;
    font-size: 0.9em;
    margin-right: 10px;
}

.tagcloud li {
    padding: 0px;
}

/* Bootstrap navbar updated to add shadow */
.navbar {
    -webkit-box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.4);
}

/* Banner */
#banner {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover; 
    background-color: #C4C4C4;
    margin: 0 0 25px;
    padding: 0 0;
    position: relative;
    box-shadow: 0px -15px 10px -10px rgba(0, 0, 0, 0.4) inset;
}

#banner .copy {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    display: inline;
    float: left;
    max-width: 600px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

#banner h1 {
    color: #fff;
    font-family: "HelveticaNeue-CondensedBold","Helvetica Neue CE 600 Condensed","Helvetica Neue LT Condensed","Helvetica Neue 600 Condensed","HelveticaNeue-BoldCondensed","Helvetica Neue BoldCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3.2rem;
    font-stretch: condensed;
    font-weight: 700;
    line-height: 0.9;
    margin: 0;
}
#banner .intro {
    color: #fff;
    font-size: 21px;
    line-height: 1.33;
    opacity: 0.75;
}
#banner .btn, #banner .intro {
    margin-left: 4px;
}

/* Solutions for mobile and small screens  */
@media (max-width: 768px) {
    #banner {
        margin: 0;
    }
    #banner h1{
       font-size: 30px;  /* !important;*/
    }
    #banner .intro{
        font-size: 16px;
    }
}

/* Addtions to containers due to new background image */
.container_body {
    border-radius: 3px;
    background: #FFFFFF !important;
    padding: 32px 32px;
}

.container_footer {
    border-radius: 3px;
    background: #FFFFFF !important;
    padding: 16px 32px 0px 32px;
}

@media (max-width: 768px) {
    .container_body,
    .container_footer {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

/* Navigation bar drop down on mouse over */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
ul.nav li:hover {
    background-color: #1A242F !important;
}
.dropdown-menu>li>a {
    color: #1A242F;
}
.dropdown-menu>li>a:hover {
    color: #7b8a8b;
}


/* Carousel formatting */
.carousel-base {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover; 
    background-color: #C4C4C4;
    margin: 0;
    position: relative;
    box-shadow: 0px -15px 10px -10px rgba(0, 0, 0, 0.4) inset;
    height: 260px;
    text-align: center;
}
.carousel-indicators {
    bottom: 0px;
}
.carousel-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0px 15%;
    padding: 0px 0px;
    position: relative;
    height: 100%;
    margin-bottom: 120px;
    z-index: 1;
}
.carousel-content h2 {
    color: #fff;
    font-size: 2.6rem;
    font-stretch: condensed;
    font-weight: 700;
    line-height: 0.9;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}
.fa {
    padding-right: 16px;
    font-size: 1.2rem;
}
/* Table used inside relative carousel-content for vertical alignment */
.table_div {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 0 0 1px #000000, 0 0 2px #000000;
}
.table_row_text {
    display: table-row;
    text-align: center;
    vertical-align: middle;
}
.table_row_buttons {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

/* Format the links in the carousel */
.table_row_text a:hover {
    text-decoration: none;
}

.table_row_buttons a {
    padding: 8px 16px;
    margin-top: 6px;
}
